* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    user-select: none;
    -webkit-user-drag: none;
}

:root {
    --primary-color: #090611;
    --secondary-color: #a806244b;
    --scroll-track: #2e020a;
    --scroll-thumb: #83051c;
    --border-color1: #cc072b;
    --border-color2: #a8062470;
}

body {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--primary-color);
}

header {
    z-index: 10;
    top: 0;
    position: sticky;
    display: flex;
    padding: 1rem 8rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-bottom: solid 1px var(--border-color2);
}

div.logo-box {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    border: solid 1px var(--border-color1);
    background-color: var(--secondary-color);
}

nav.main-nav {
    display: flex;
    height: 4rem;
    align-items: center;
}

ul.nav-list, ul.nav-list * {
    display: flex;
}

ul.nav-list {
    gap: 3.6rem
}

a.nav-link {
    width: 6rem;
    height: 2rem;
    border-radius: 0.4rem;
    border: solid 1px var(--border-color1);
    background-color: var(--secondary-color);
}

button.nav-btn {
    display: none;
    width: 3.6rem;
    height: 3.2rem;
    border-radius: 0.4rem;
    border: solid 1px var(--border-color1);
    background-color: var(--secondary-color);
}

section.sections {
    z-index: 2;
    top: 0;
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 0 8rem;
}

/* ------------------------------------------------- */

@media (min-width: 0) and (max-width: 576px) {
    /* XS Screen Devices*/
    body {
        padding: 0 1rem;
    }

    header {
        padding: 1rem 1rem;
    }

    ul.nav-list {
        display: none;
    }

    button.nav-btn {
        display: flex;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    /* SM Screen Devices*/
    body {
        padding: 0 2rem;
    }

    header {
        padding: 1rem 2rem;
    }

    ul.nav-list {
        display: none;
    }

    button.nav-btn {
        display: flex;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    /* MD Screen Devices*/
    body {
        padding: 0 6rem;
    }

    header {
        padding: 1rem 6rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* LG Screen Devices*/
    body {
        padding: 0 8rem;
    }

    header {
        padding: 1rem 8rem;
    }
}

/* ------------------------------------------------- */

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-track {
    border-left: solid 1px var(--border-color2);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(15deg, var(--border-color1), var(--primary-color));
    border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(15deg, var(--border-color1), var(--secondary-color));
    border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb:active {
    background: var(--border-color1);
}